* {
    margin: 0;
    padding: 0;
    
}

body {
    width: 1100px;
    font-family: Arial;
}

header {
    background-color: white;
    color: khaki;
    text-align: center;
}

nav {
    background-color: white;
    position: fixed;
    display: flex;
    width: 1100px;
    justify-content: space-between;
    padding-left: 100px;
    padding-top:10px;
    padding-bottom:30px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding-right: 150px;
}
li {
    display: inline;
    text-decoration: none;
}
li:hover{
    color: darkkhaki;
}
a:hover{
    color: darkkhaki;
}
a {
  padding: 20px;
  text-decoration: none;
  color: black;
}

.hero {
    background-color: #074f75;
    background-image: url("images/image3.png");
    background-size: 1100px;
    background-attachment: fixed;
    color: white;
    text-align: center;
    padding-top: 300px;
    padding-bottom: 400px;

    font-family: Times;
    font-size: 28px;
    font-weight: 3px;
    letter-spacing: 20px;
    line-height: 120px;
}



.service {
    background-color: khaki;    
    background-image: url("images/flower.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5em;
    

    color: white;
    text-align: center; 
    padding-top: 10px;
    padding-bottom:30px;
    padding-left: 
    height: 440px;
    width: 310px;

    line-height: 140px;

}

h2 {
    letter-spacing: 8px;
    font-weight: 3px;
    line-height: 200px;
}

.sertext {
    line-height: 30px;
    letter-spacing: 2px;
    font-family: Times;

}

.servicebutton {
    font-size: 20px;
    color: white;
    background-color: transparent;
    width: 200px;
    height: 50px;
    
    border-color: white;
    border-style: solid;
}

.i1 {
}

.secondpart {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 5em;
    margin-left: 5em;
    margin-right: 5em;
}

.ione {
    max-height: 440px;
    max-width: auto;
    margin-top: 5em;
}

.third {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    margin-left: 5em;
    margin-right:5em;
    display: flex;
    align-items: center; 
    
}

h3{
    margin-top: 5em;
    font-size: 28px;
    font-family: Times;
    text-align: center;
}

.arrowL {
    font-size: 50px;
    font-family: Times;
    font-weight: lighter;
    color: darkkhaki;
}

.arrowR {
    font-size: 50px;
    font-family: Times;
    font-weight: lighter;
    color: darkkhaki;
}

.thirdtext {
    text-align: center;
    font-size: 26px;
    font-family: Times;
    line-height: 60px;
    width: 1100px;
    
}

.testimonial {
    text-align: center;
    font-size: 26px;
    font-family: Times;
    letter-spacing: 3px;
    line-height: 40px;
}

.quote {
    color: darkkhaki;
    font-size: 16px;
    margin-top: 3em;
    margin-bottom: 10em;
    text-align: center;
}

.forth {
    margin-left: 5em;
    margin-right: 5em;
    background-image: url("images/image2.png");
    background-size: cover;
    background-attachment: fixed;
    
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 7em;

    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 15em;
}

.gallery {
    background-color: khaki;    
    background-image: url("images/flower.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5em;
    
    position: right;
    color: white;
    text-align: center; 
    padding-top: 0px;
    padding-bottom: 0px;
    
    height: 440px;
    width: 310px;

    line-height: 140px;

    
    margin-right: 5em;
}

.galtext {
    line-height: 30px;
    letter-spacing: 5px;
    font-family: Times;
}

.fifth {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
    background-color: darkkhaki;
    margin-right: 5em;
    margin-left: 5em;
    padding-top: 5em;
    padding-bottom: 5em;
    margin-bottom: 3em;
}

.footertext {
    font-size: 14px;
    display: grid;
    align-items: text-top; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    background-color: darkkhaki;
    color: white;

    margin-left: 5em;
    text-align: text-top;
}

.address {

    width: 120px;
}

.contact {
    width: 126px;
}
.c {
    width: 168px;
}

.footerbutton {
    font-size: 18px;
    color: white;
    background-color: transparent;
    outline: white 2px;
    width: 260px;
    height: 50px;
    
    border-color: white;
    border-style: solid;

}
.vl {
  line-height: 10px;
  position: contain;

}

.mainevent{
    font-family: Times;
    font-size: 24px;
    line-height: 40px;
}
    